<footer>
    <div class="container mb-3 text-center">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <h5>Popular Routes</h5>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <li>Bangalore To Hyderabad</li>
                                    <li>Pune To Chennai</li>
                                    <li>Bangalore To Chennai</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li>Hyderbad To Chennai</li>
                                    <li>Bangalore To Pune</li>
                                    <li>Hyderabad To Pune</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <h5>Why Buy Tickets From Us ?</h5>
                    <p>
                        <b>Buy bus tickets</b> anytime from anywhere
                        Pay by credit card, mobile banking or cash
                        Get tickets delivered to your doorstep
                        Dependable customer service <b>(8 AM to 11 PM).</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
